.project-tag-list {
  display: flex;
  overflow: hidden;
  height: 2rem;
  margin: auto;
}

.project-tag-list.expanded {
  height: auto;
}

.project-tag-list .project-tag-list-show-more-button {
  float: right;
  height: 100%;
  margin: 0 0 8px;
  display: flex;
  align-items: flex-start;
}
